#current_temperature span.temp{
	margin-right: 5%;
}

h5{
	font-style: italic;
}

.hero {
  background: url("../img/home-background.png") no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .hero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8; }
  .hero .intro {
    padding: 3rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .hero h1 {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
    text-shadow: 2px 2px #000000; }
  .hero p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem; }
  @media only screen and (min-width: 40.063em) {
    .hero h1 {
      padding-top: 4.5rem;
      text-align: right;
      font-size: 2.5rem; }
    .hero p {
      text-align: right; } }

.text-white{
	color:white;
}

.top-bar{
	background-color: white;
	color:black;
	height: 50px;
    line-height: 50px;
    margin-bottom: 0;
}

  @media only screen and (min-width: 40.063em) {
    .top-bar {
    height: 70px;
    line-height: 70px; }
 }

#nav-title{
	color:black;
}

#login{
	color: black;
	background-color: white;
	border: 2px solid black;
}

#landing{
	padding-top: 18%;
	margin: 0;
}

#title{
	font-family: 'Roboto Slab', serif;
	margin-left: 20px;
	margin-top: 7px;
}

.style-button{
	background: rgba(0, 0, 0, 0.2);;
	border: solid 2px white;
	font-weight: bold;
}

.style-button:hover{
	background: black;
	border: solid 2px white;
}